:root {
    /* ## Colors */

    /* ### Primary */
    
    --Dark-Blue: #1c2431; /*(intro and email sign up background)*/
    --Dark-Blue-main : #181f2a; /*(main background)*/
    --Dark-Blue-footer : #0b1523; /*(footer background)*/
    --Dark-Blue-testimonials : #202a3c; /*(testimonials background)*/
    
    /* ### Accent */
    
    --Cyan : #65e2d9; /*(inside call-to-action gradient)*/
    --Blue : #339ecc; /*(inside call-to-action gradient)*/
    --Light-Red : hsl(0, 100%, 63%); /*(error)*/
    
    /* ### Neutral */
    
    --White: hsl(0, 0%, 100%);

    --font-raleway: "Raleway", sans-serif;
    --font-open: "Open Sans", sans-serif;
    --font-regular: 400;
    --font-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: var(--Dark-Blue);
    font-family: var(--font-open);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Typography */

.text-present-1 {
    font-family: var(--font-raleway);
    font-weight: var(--font-regular);
    font-size: 12px;
    letter-spacing: 1px;
}

.text-present-2 {
    font-family: var(--font-raleway);
    font-weight: var(--font-bold);
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0;
}

.text-present-3 {
    font-family: var(--font-open);
    font-weight: var(--font-regular);
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
}

.text-present-4 {
    font-family: var(--font-raleway);
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--White);
}

.text-present-5 {
    font-family: var(--font-open);
    font-size: 10px;
    line-height: 18px;
    font-weight: var(--font-regular);
}

.text-button {
    font-family: var(--font-raleway);
    font-weight: var(--font-bold);
    font-size: 14px;
}

/* Background */

.bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 380px;
    z-index: -1;
}

.bg .bg-curvy {
    background: url(../images/bg-curvy-mobile.svg) no-repeat center / cover;
    width: 100%;
    height: 190px;
}

.bg .bg-bottom {
    background: var(--Dark-Blue-main);
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .bg {
        top: 607px;
    }

    .bg .bg-curvy {
        background: url(../images/bg-curvy-desktop.svg) no-repeat center / cover;
        height: 661px;
    }
}

/* Button */
.button {
    width: 240px;
    height: 48px;
    background: linear-gradient(#63e1d9, #34a0cd);
    color: var(--White);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.button:hover {
    background: #8adae3;
}