main {
    display: flex;
    flex-direction: column;
    padding: 24px;
    max-width: 1280px;
    margin: auto;
}

main .contant .img-intro {
    background: url(../images/illustration-intro.png) no-repeat center / contain;
    width: 100%;
    height: 335px;
}

main .description {
    width: 100%;
    margin: 33px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

main .description h1, main .description p {
    color: var(--White);
    max-width: 420px;
} 

main .description a {
    margin-top: 15px;
}

@media screen and (min-width: 768px) {
    main .contant .img-intro {
        height: 314px;
    }


}

main .container-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 85px 0;
    gap: 80px;
}

main .container-cart .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 350px;
}

main .container-cart .cart img {
    margin-bottom: 24px;
}

main .container-cart .cart p {
    margin-top: 8px;
    color: var(--White);
}

@media screen and (min-width: 768px) {
    main .container-cart{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

main .stay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

main .stay img {
    width: 100%;
    max-width: 614px;
    height: 100%;
}

main .stay .description-stay {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 563px;
}

main .stay .description-stay p {
    color: var(--White);
}

main .stay a {
    width: 150px;  
    color: var(--Cyan);
    display: flex;
    align-items: center;
    gap: 7px;
    border-bottom: 1px solid var(--Cyan) ;
    padding-bottom: 6px;
    transition: all .5s ease-in-out;
}

main .stay a:hover {
    color: var(--White);
    border-color: var(--White);
}

@media screen and (min-width: 768px) {
    main .stay {
        flex-direction: row;
        gap: 60px;
    }
}

main .comments {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 360px;
    margin: 160px auto 0 auto;
    padding-top: 4px;
}

main .comments .icon {
    font-family: "Nunito Sans", sans-serif;
    font-size: 200px;
    line-height: 200px;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    color: var(--Cyan);
    z-index: -1;
} 

main .comments .card {
    padding: 24px;
    background: var(--Dark-Blue-testimonials);
    border-radius: 4px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    main .comments .icon {
        font-size: 80px;
        line-height: 50px;
    }
}