main {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

main .contant .img-intro {
    background: url(../images/illustration-intro.png) no-repeat center / contain;
    width: 100%;
    height: 335px;
}